.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 3.5rem;
  align-items: center;
  border-bottom: 2px solid gray;
  position: sticky;
  top: 0;
  z-index: 2222;
  background-color: white;
}
.logo-container {
  width: 100px;
  cursor: pointer;
}
.logo-container img {
  width: 100%;
}
.header-right {
  display: flex;
  gap: 1rem;
}

.navbar {
  position: relative;
}
/* From uiverse.io by @satyamchaudharydev */
/* removing default style of button */

.form button {
  border: none;
  background: none;
  color: rgb(228, 221, 221);
  margin-top: 9px;
}
/* styling of whole input container */
.form {
  --timing: 0.3s;
  --width-of-input: 200px;
  --height-of-input: 40px;
  --border-height: 2px;
  --input-bg:#19242b;
  --border-color: #2f2ee9;
  --border-radius: 30px;
  --after-border-radius: 1px;
  position: relative;
  width: var(--width-of-input);
  height: var(--height-of-input);
  display: flex;
  align-items: center;
  padding-inline: 0.8em;
  border-radius: var(--border-radius);
  transition: border-radius 0.5s ease;
  background: var(--input-bg,#fff);
}
/* styling of Input */
.input {
  font-size: 0.9rem;
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
  font-weight: bold;
  color:white;
}
/* styling of animated border */
.form:before {
  content: "";
  position: absolute;
  background: var(--border-color);
  transform: scaleX(0);
  transform-origin: center;
  width: 100%;
  height: var(--border-height);
  left: 0;
  bottom: 0;
  border-radius: 1px;
  transition: transform var(--timing) ease;
}
/* Hover on Input */
.form:focus-within {
  border-radius: var(--after-border-radius);
}

input:focus {
  outline: none;
}
/* here is code of animated border */
.form:focus-within:before {
  transform: scale(1);
}
/* styling of close button */
/* == you can click the close button to remove text == */
.reset {
  border: none;
  background: none;
  opacity: 0;
  visibility: hidden;
}
/* close button shown when typing */
input:not(:placeholder-shown) ~ .reset {
  opacity: 1;
  visibility: visible;
}
/* sizing svg icons */
.form svg {
  width: 17px;
  margin-top: 3px;
}

/* mera wala  */
.search-list {
  position: absolute;
  background-color: rgba(255, 251, 251, 0.808);
  width: 100%;
  list-style: none;
  border-radius: 0 0 1rem 1rem;
  top: 2.5rem;
  border: 2px solid gray;
}
.search-list li {
  padding: 1rem;
  text-transform: capitalize;
  border-bottom: 2px solid rgba(36, 32, 32, 0.564);
  color: black;
}

.signin {
  float: right;
  max-width: 320px;
  display: flex;
  padding: 0.5rem 1.4rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  vertical-align: middle;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.25);
  gap: 0.75rem;
  color: #c4d2dc;
  background-color: #19242b;
  cursor: pointer;
  transition: all 0.25s cubic-bezier(0, 0.87, 0.12, 1);
}
.signin .half-text-btn {
  display: none;
}
.signin:hover {
  transform: scale(1.025);
}

.signin:active {
  transform: scale(0.975);
}

button svg {
  height: 24px;
  width: auto;
}

.more-options {
  background-color: black;
  color: white;
  border-radius: 0.4rem;
  width: 120px;
  padding: 0.8rem 0;
  text-align: center;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease-in;
}
.more-options-lists {
  display: block;
  position: absolute;
  top: 2.12rem;
  left: 0;
  background-color: black;
  list-style: none;
  overflow: hidden;
  border-radius: 0.4rem;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.3s ease-in, transform 0.3s ease-in,
    visibility 0.3s ease-in;
}
.more-options-lists li {
  border-bottom: 2px solid gray;
  padding: 0.8rem;
  width: 120px;
}
.more-options:hover .more-options-lists {
  display: block;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
@media screen and (max-width: 600px) {
  .header {
    top: -4rem;
    gap: 1rem;
    padding: 0.8rem 1rem;
  }
  
  .more-options,
  .more-options-lists li {
    width: 90px;
    padding: 0.7rem 0.4rem;
  }
  .search-list {
    width: 400px;
    left: -8.5rem;
  }
  .search-bar:focus ~ .search-list {
    left: -11.2rem;
  }
  .more-options-lists li {
    width: 100%;
  }
  .full-text-btn {
    display: none;
  }
  .signin .half-text-btn {
    display: initial;
  }
  .form{
    width: 63px;
  }
  
}
