.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 3.5rem;
  align-items: center;
  border-bottom: 2px solid gray;
  position: sticky;
  top: 0;
  z-index: 2222;
  background-color: white;
}
.logo-container{
    width: 100px;
    cursor: pointer;
}
.logo-container img {
  width: 100%;
}
.navbar{
  position: relative;
}
.search-bar {
  padding: 0.4rem;
  border-radius: 0.8rem;
  width: 300px;
}
.search-list{
  position: absolute;
  background-color: rgba(255, 251, 251, 0.808);
  width: 100%;
  list-style: none;
  border-radius: 0 0 1rem 1rem;
  top: 2.5rem;
  border: 2px solid gray;
}
.search-list li{
  padding: 1rem;
  text-transform: capitalize;
  border-bottom: 2px solid rgba(36, 32, 32, 0.564);
  color: black;
}

.signin {
  width: 45px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.signin svg {
  width: 100%;
  height: 100%;
}

.more-options{
  background-color: black;
  color: white;
  border-radius: 0.4rem;
  width: 120px;
  padding: 0.8rem 0;
  text-align: center;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease-in;
}
.more-options-lists{
  display: block;
  position: absolute;
  top: 2.12rem;
  left: 0;
  background-color: black;
  list-style: none;
  overflow: hidden;
  border-radius: 0.4rem;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.3s ease-in, transform 0.3s ease-in, visibility 0.3s ease-in;
}
.more-options-lists li{
  border-bottom: 2px solid gray;
  padding: 0.8rem;
  width: 120px;
}
.more-options:hover .more-options-lists{
  display:block;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
@media screen and (max-width:600px) {
    .header{
        top: -4rem;
        gap: 1rem;
        padding: 0.8rem 1rem;
    }
    .search-bar{
      width: 40px;
      transition: width 0.2s ease-in;
    }
    .search-bar::placeholder{
      font-size: 0.7rem;
    }
    .search-bar:focus{
      width: 90px;
    }
    .more-options,.more-options-lists li{
      width: 90px;
      padding:0.7rem 0.4rem;
    }
}